.tables{
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Roboto', sans-serif;
}

.tables a:hover{
    text-decoration: none;
}

.wht .red{
    fill:#FFB5B5 !important;
}

.wht .green{
    fill:#C6FFC6 !important;
}

.wht .orng{
    fill:#FFDC9C !important;
}

.wht .gray{
    fill: #D4D4D4 !important;
}

.attachmnt a{
    color: rgb(22, 22, 22);
}

.attachmnt a:hover{
    color: black;
}



.popover input{
    display: block;
}

.popover-body .badge{
    display: flex;
    padding: 0.4em 0.8em !important;
    font-size: 13px;
    height: 26px;
    font-weight: 400;
    text-align: center;
    cursor: default;
}

.badge-orng {
    color: #fff;
    background-color: orange;
}

.badge-green {
    color: #fff;
    background-color: #008000;
}

.badge-gray {
    color: #fff;
    background-color: gray;
}

.badge-red{
    color: #fff;
    background-color: #e40000;
}


.popover-body .form-control{
    height: calc(1.5rem + 2px) !important;
    padding: 0.35rem 0.5rem !important;
    font-size: 14px !important;
    border-radius: 0.2rem !important;
}

.popover-body textarea:focus{
    color: #495057;
    background-color: #fff;
    border-color: #a1d6f4;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgb(47 164 231 / 25%);
    box-shadow: 0 0 0 0.2rem rgb(47 164 231 / 25%);
}

.popover-body textarea{
    border: 1px solid #ced4da;
    border-radius: 0.2rem !important;
}

/* .wht:hover .st0{
    fill:red !important;
} */

#myModal .modal-body table{
    width: 45%;
}

#myModal .modal-body table td:first-child{
    font-weight: 500;
}

.popover{
    min-width: 400px;
}

.popover-header {
    margin-bottom: 0;
    font-size: 1.5rem !important;
    background-color: #ffffff !important;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.popover-content {
	display: none;
}

.popover .btn{
    padding: 0.2rem 0.75rem !important;
}

.popover {
	-moz-box-shadow: 0 0 8px #5b7d83;
	-webkit-box-shadow: 0 0 8px #5b7d83;
	box-shadow: 0 0 8px #5b7d83;
}

.popover .card{
    border: 0px !important;
}

.popover-body{
    padding: 0px !important;
}

.popover-body .card-header {
    margin-bottom: 0;
    background-color: rgb(255 255 255);
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: black !important;
}

.popover-body .card-footer {
    background-color: white;
}


.tab1 .st0{fill:none;stroke:#000000;stroke-miterlimit:10;}
.tab1 .st1{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.tab1 .st2{font-family: 'Roboto', sans-serif;}
.tab1 .st3{font-size:45px;}
.tab1 .st4{fill:#FFFFFF;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.tab1 .st5{font-size:12px;}
.tab1 .st6{fill:#FFFFFF;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.tab1 .st7{fill:none;}
.tab1 .st8{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.tab1 .st9{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:5.8847,5.8847;}
.tab1 .st10{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:5.8713,5.8713;}
.tab1 .st11{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:5.9173,5.9173;}
.tab1 .st12{font-size: 12.6677px;}

.tab2 .st0{fill:#FFFFFF;stroke:#000000;stroke-miterlimit:10;}
.tab2 .st1{fill:none;stroke:#000000;stroke-miterlimit:10;}
.tab2 .st2{font-family: 'Roboto', sans-serif;}
.tab2 .st3{font-size:45px;}
.tab2 .st4{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.tab2 .st5{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:5.8847,5.8847;}
.tab2 .st6{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:5.8713,5.8713;}
.tab2 .st7{fill:none;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;stroke-dasharray:5.9173,5.9173;}
.tab2 .st8{font-size:12.6677px;}
.tab2 .st9{fill:#FFFFFF;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
.tab2 .st10{fill:#FFFFFF;stroke:#000000;stroke-width:0.75;stroke-miterlimit:10;}
.tab2 .st11{font-size:12px;}
.tab2 .st12{fill:none;stroke:#000000;stroke-width:0.75;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
.tab2 .st13{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}


@media only screen and (max-width: 1600px) {
    .tables{
        overflow-x: scroll;
        overflow-y: scroll;
    }


  }

  @media only screen and (max-width: 1400px) {

  }

  @media only screen and (max-width: 1366px) {

  }

  @media only screen and (max-width: 1200px) {
    
  }

  @media only screen and (max-width: 1024px) {
    .tables {
        overflow-x: scroll;
        overflow-y: scroll;
        width: 85rem;
    }
   

  }

  @media only screen and (max-width: 768px) {
    .popover{
        box-shadow: none;
        min-width: 350px;
    }
    
  }


  /* attachmnt */

  .attach-bx{
    border-radius: 2px;
    padding: 4px 6px 0 4px;
    background-color: rgba(0, 0, 0, 0.05);
    min-height: 45px;
}

.o_image {
    width: 38px;
    height: 38px;
    image-orientation: from-image;
}

.attach-bx h6{
    font-size: 13px;
    padding-left: 5px;
    margin-bottom: 2px;
    color: black;
}

.attach-bx span{
    font-size: 12px;
    padding-left: 5px;
    color: black;
}


.propic{
    float: left;
}

.propic .profile-pic {
    width: 200px;
    max-height: 200px;
    display: inline-block;
}

.propic .profile-pic1 {
    width: 200px;
    max-height: 200px;
    display: inline-block;
}

.propic .file-upload {
    display: none;
}

.propic .file-upload1 {
    display: none;
}
.propic .circle {
    position: relative;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin: 5px;
    border: 1px solid #dee2e6;
}
.propic img {
    max-width: 100%;
    height: auto;
}
.propic .p-image {
  position: absolute;
  top: 31px;
  right: 30px;
  color: #222222;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  display: none;
}
/* .propic .p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
} */
.propic .upload-button {
  font-size: 1.2em;
}

.propic .upload-button1 {
    font-size: 1.2em;
  }

/* .propic .upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
} */

.propic .circle:hover img{
    opacity: .5;
}

.propic .circle:hover .p-image{
    display: block;
}
