{% load static %}
{% load checkbox_result %}
<div
    class="d-flex align-items-center justify-content-between px-2">
    <div class="col-md-4 px-0">
        <a href="create_property"><button type="button"
                class="btn btn-prim add-btn create-button"><i
                    class="fas fa-plus"></i>
                Create
            </button></a>

            <button type="button" onclick="Export()" style="display:none;"
            class="btn btn-ghost-sec btn-icon btn-sm fs-16 allicns selectIcon"
            data-toggle="tooltip" data-bs-trigger="hover"
            data-bs-placement="top" title=""
            data-bs-original-title="Export">
            <i class="fas fa-download"></i>
            </button>
    </div>


    <div class="d-flex align-items-center">
        <span class="d-flex align-items-center"> 
            {% if page_obj.has_previous %}
        <a class="next_page_action" data-url="next_page_action_url_property?page={{page_obj.previous_page_number}}"  style="color: black;" href="#"><i class="fas fa-caret-left mr-2 pagintn text-muted pagination_minus" style="font-size: 20px;"></i> </a> 
        {% endif %}
        <i class="text-muted" style="font-size: 13.5px;">Showing {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}</i>
        
        {% if page_obj.has_next %} 
           <!-- <a    style="color: black;" href="?page={{page_obj.next_page_number}}">Next - {{page_obj.next_page_number}}</a> -->
            <a class="next_page_action" data-url="next_page_action_url_property?page={{page_obj.next_page_number}}"  style="color: black;" href="#"><i class="fas fa-caret-right ml-2 pagintn text-muted pagination_add" style="font-size: 20px;"></i></a>
        {% endif %}
        </span>
        
        <input type="text" class="form-cont ml-2"
            placeholder="Search..." autocomplete="off"
            id="search_value" value="" onkeyup="Search()">
            <div class="dropdown btn-group fitr">
                <button type="button" class="btn btn-prim dropdown-toggle"
                    data-toggle="dropdown">
                    <i class="fas fa-filter"></i>
                    Filters
                </button>
                <div class="dropdown-menu">
                    <li><a class="dropdown-item dropdown-submenu"  href="#">Name</a>
                        <div class="drpdwn-menu">
                            <input type="text" id="filter_name" class="form-control filterfunctn" placeholder="Name">
                                        <button type="button" onclick="filter_apply('name')" class="btn btn-prim pay edit-cont-btn">
                                Apply
                            </button>
                        </div>
                    </li>
                    <li><a class="dropdown-item dropdown-submenu" href="#">Phone</a>
                        <div class="drpdwn-menu">
                            <input type="text" id="filter_phone" class="form-control filterfunctn" placeholder="Phone">
                                        <button type="button" onclick="filter_apply('phone')" class="btn btn-prim pay edit-cont-btn">
                                Apply
                            </button>
                        </div>
                    </li>
                    <li><a class="dropdown-item dropdown-submenu" href="#">Unit no</a>
                        <div class="drpdwn-menu">
                            <input type="text" id="filter_unitno" class="form-control filterfunctn" placeholder="Unit no">
                            <button type="button" onclick="filter_apply('unitno')" class="btn btn-prim pay edit-cont-btn">
                                Apply
                            </button>
                        </div>
                    </li>
                    <li><a class="dropdown-item dropdown-submenu" href="#">Block no</a>
                        <div class="drpdwn-menu">
                            <input type="text" id="filter_blockno" class="form-control filterfunctn" placeholder="Block no">
                                        <button type="button" onclick="filter_apply('blockno')" class="btn btn-prim pay edit-cont-btn">
                                Apply
                            </button>
                        </div>
                    </li>
                    <li><a class="dropdown-item dropdown-submenu" href="#">Unit area</a>
                        <div class="drpdwn-menu">
                            <input type="text"  id="filter_unitarea" class="form-control filterfunctn" placeholder="Unit area">
                                        <button type="button" onclick="filter_apply('unitarea')" class="btn btn-prim pay edit-cont-btn">
                                Apply
                            </button>
                        </div>
                    </li>
                    <li><a class="dropdown-item dropdown-submenu" href="#">Land area</a>
                        <div class="drpdwn-menu">
                            <input type="text"  id="filter_landarea" class="form-control filterfunctn" placeholder="Land area">
                                        <button type="button" onclick="filter_apply('landarea')" class="btn btn-prim pay edit-cont-btn">
                                Apply
                            </button>
                        </div>
                    </li>
                    <li><a class="dropdown-item dropdown-submenu" href="#">Unit type</a>
                        <div class="drpdwn-menu">
                            <input type="text"  id="filter_unittype" class="form-control filterfunctn" placeholder="Unit type">
                            <button type="button" onclick="filter_apply('unittype')" class="btn btn-prim pay edit-cont-btn">
                                Apply
                            </button>
                        </div>
                    </li>
                    <li><a class="dropdown-item dropdown-submenu" href="#">Price</a>
                        <div class="drpdwn-menu">
                            <input type="text" id="filter_price" class="form-control filterfunctn" placeholder="Price">
                            <button type="button" onclick="filter_apply('price')" class="btn btn-prim pay edit-cont-btn">
                                Apply
                            </button>
                        </div>
                    </li>

                    <li><a class="dropdown-item dropdown-submenu" href="#">Status</a>
                        <div class="drpdwn-menu">
                            <input onclick="groupby_functn('Sold')" value="0" type="checkbox" class="form-check-input mr-2" id="radio1"
                            name="optradio1" value="option1">Sold <br>

                            <input onclick="groupby_functn('Price')" value="1" type="checkbox" class="form-check-input mr-2" id="radio2"
                                name="optradio2" value="option2">Price quotation<br>

                            <input onclick="groupby_functn('Available')" value="2" type="checkbox" class="form-check-input mr-2" id="radio3"
                            name="optradio3" value="option3">Available<br>

                            <input onclick="groupby_functn('Cancelled')" value="3" type="checkbox" class="form-check-input mr-2" id="radio4"
                                name="optradio4" value="option4">Cancelled
                        </div>
                    </li>

                </div>
            </div>
            <div class="dropdown btn-group grpby">
                <button type="button" class="btn btn-prim mx-1 dropdown-toggle"
                    data-toggle="dropdown"> <i class="fas fa-bars"></i>
                    Group By
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">
                        <div class="form-check">
                            <input type="checkbox" name="checkfield" id="radio67" onclick="group_by_status(this)">&nbsp; Status
                        </div>
                    </a>
                </div>
            </div>
        <ul class="nav nav-tabs nav-ta" role="tablist">
            <li class="nav-item mx-1">
                <a class="nav-link kan-tab active"
                    data-toggle="tab" href="#ho" role="tab"
                    aria-selected="false">
                    <i class="fas fa-list"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link kan-tab" data-toggle="tab"
                    href="#pro" role="tab"
                    aria-selected="false">
                    <i class="fas fa-th-large"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<input type="hidden" id="pagination_count" name="">

 <!-- amritha -->
 <div id="append_property_groupby">
    <div class="tab-content">
        <div class="tab-pane active" id="ho" role="tabpanel">
            <div class="table-responsive mb-1  mt-2">
                <table class="table table-nowrap align-middle append_pro2"
                    id="orderTable">
                    <thead class="table-light">
                        <tr class="text-uppercase">
                            <th scope="col" style="width: 25px;">


                                <div class="checkall">
                                    <input class="form-check-input checkField check-all "
                                        type="checkbox" id="customcheckbox"  onclick="check()"
                                        data-checkall-trigger="group1">
                                </div>
                               
                            </th>
                            <th>S/No</th>
                            <th class="sort"
                                data-sort="customer_name">
                                Name</th>
                            <th>ID</th>
                            
                            
                            <th class="sort" data-sort="date">Phone</th>
                            <th class="sort" data-sort="date">Unit No</th>
                            <!-- <th class="sort" data-sort="amount">Amount</th>
                                        <th class="sort" data-sort="payment">Payment Method</th> -->

                            <th class="sort" data-sort="company">
                                Block No
                            </th>
                            <th class="sort" data-sort="company">
                                Unit Area
                            </th>
                            <th class="sort" data-sort="company">
                                Land Area
                            </th>
                            <th class="sort" data-sort="company">
                                U Type
                            </th>
                            
                            <th class="sort" data-sort="company">
                               Price currency
                            </th>
                            <th>
                                Bank
                            </th>
                            <th class="sort" data-sort="status">
                                Status(Ar)</th>
                            <th class="sort" data-sort="status">
                                Status(En)</th>
                                
                            <!-- <th class="sort" data-sort="action">Action</th> -->
                        </tr>
                    </thead>
           
                            <tbody class="list form-check-all append_search_result append_filterfunctn_result append_groupby_result">
                                {% for i in page_obj.object_list %}
                                <tr >
                                        <th scope="row">
                                            <input
                                                class="form-check-input checkField messageCheckbox"
                                                type="checkbox" value="{{i.id}}"
                                                data-checkall-group="group1"
                                                onclick="check_action({{i.id}})" id="check_btn{{i.id}}">
                                        </th>
                                        <th>
                                            {{forloop.counter}}
                                        </th>
                                       
                           
                                        <td class="fw-medium link-primary" class="id" onclick="window.location='property_update?id={{i.id}}'">
                                            {% if i.Name == None %}
                                            {% elif i.Name == '' %}
                                            {%else%}
                                            {% if i.customer_id_mapping.profile_pic == '' or i.customer_id_mapping.profile_pic == None %}

                                            <img style="width:30px;    border-radius: 50%;" src="{% static 'adminicon.jpg' %}" class="m-1"/>
                                           
                                            {% else %}
                                            <img style="width:30px;    border-radius: 50%;" src="./media/{{i.customer_id_mapping.profile_pic}}" class="m-1"/>
                                            
                                                {% endif %}
                                                {%endif%}
                                            <a style="cursor: pointer;"  class="fw-medium link-primary">
            
                                                {% if i.Name == None %}
                                                {% else %}
                                            <span style="color: #405189;
                                            font-weight: bold;" > {{i.Name}}</span>  
                                                {% endif %}
                                            </a>
                                        </td>
                            <td>
                               {% if i.customer_id == None %}
                               {% else %}
                               {{i.customer_id}}
                               {% endif %}
                            </td>
                            <td class="customer_name" onclick="window.location='property_update?id={{i.id}}'">
                                {% if i.Phoneno == None or i.Phoneno == '' %}
                                            {% else %}
    
                                            <i class="fa fa-phone m-1" style=" font-size: 9px;" ></i>
                                         
                                            
                                            {{i.Phoneno}}
                                            {% endif %}
                            </td>
                            <td onclick="window.location='property_update?id={{i.id}}'" class="product_name">{{i.UnitNo}}</td>
                            <td onclick="window.location='property_update?id={{i.id}}'" class="date">{{i.BlockNo}}</td>
                            <td onclick="window.location='property_update?id={{i.id}}'" class="date">{{i.UnitArea}}</td>
                            <td onclick="window.location='property_update?id={{i.id}}'" class="company">{{i.LandArea}}</td>
                            <td onclick="window.location='property_update?id={{i.id}}'">
                                {% if i.UType == None %}
                                {% else %}
                                {{i.UType}}
                                {% endif %}
                            </td>
                            <td>
                                 {{ request.user|get_currency_format:i.Price }}
                            </td>
                            <td>
                                {{i.Bank}}
                            </td>
                            <td>
                                {% if i.current_status == "0" %}
                                            <span
                                                class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                                background-color: #008000;">{{i.Status}}</span>
        
                                            {% elif i.current_status == "1" %}
                                            <span
                                            class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                                background-color: orange;">{{i.Status}}</span>
        
                                            {% elif i.current_status == "2" %}
                                            <span
                                            class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                                    background-color: #e40000;">{{i.Status}}</span>
                                                    {% elif i.current_status == "3" %}
                                                    <span
                                                    class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                                            background-color: gray;">{{i.Status}}</span>
                                                {% else %}
                                                {% endif %}
                            </td>
                            <td class="status">
                                {% if i.current_status == "0" %}
                               
                                <span
                                    class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                    background-color: #008000;">Available</span>

                                {% elif i.current_status == "1" %}
                                <span
                                class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                    background-color: orange;">Price Quotation</span>

                                {% elif i.current_status == "2" %}
                                <span
                                class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                        background-color: #e40000;">Sold</span>
                                        {% elif i.current_status == "3" %}
                                        <span
                                        class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                                background-color: gray;">Cancelled</span>
                                    {% else %}
                                    {% endif %}
                            </td>
                           

                                </tr>

                        {% endfor %}
                    
                    
                    </tbody>
                </table>
                <div class="append_pro1">

                </div>
               
            </div>
        </div>

        <div class="tab-pane" id="pro" role="tabpanel">
            <div class='app plotmngmnt'>
                <main class='project1'>
                    <div class='project-tasks1 mb-1 card_view1'>
                    {% for i in data %}
                        <div class='project-column'>
                            <a href="property_update?id={{i.id}}" style="text-decoration: none;color: black">
                            <div class='customer-bx'>
                                <div class="customer-content">
                                    <h5>{{i.Name}}
                                        {% if i.current_status == "0" %}
                                <span
                                    class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                    background-color: #008000;">Available</span>

                                {% elif i.current_status == "1" %}
                                <span
                                class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                    background-color: orange;">Price Quotation</span>

                                {% elif i.current_status == "2" %}
                                <span
                                class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                        background-color: #e40000;">Sold</span>
                                        {% elif i.current_status == "3" %}
                                        <span
                                        class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                                background-color: gray;">Cancelled</span>
                                    {% else %}
                                    {% endif %}
                                       </h5>
                                    <span class="d-flex">
                                        <h6>Phone : </h6>{{i.Phoneno}}
                                    </span>
                                    <div class="row">
                                        <div class="col-md-6 px-0">
                                            <span class="d-flex">
                                                <h6>Unit no : </h6>{{i.UnitNo}}
                                            </span>
                                            <span class="d-flex">
                                                <h6>Block no : </h6>{{i.BlockNo}}
                                            </span>
                                            <span class="d-flex">
                                                <h6>Unit area : </h6>{{i.UnitArea}}
                                            </span>
                                        </div>
                                        <div class="col-md-6 px-0">
                                            <span class="d-flex">
                                                <h6>Land area : </h6>{{i.LandArea}}
                                            </span>
                                            <span class="d-flex">
                                                <h6>Unit type : </h6>{{i.UType}}
                                            </span>
                                            <span class="d-flex">
                                                <h6>Price currency:</h6> {{i.Price|floatformat:"0"}}
                                            </span>
                                        </div>
                                    </div>                                                           
                                </div>
                            </div>
                        </a>
                        </div>
                    {% endfor %}
                </div>
                </main>
            </div>
        </div>
    </div>
    </div>

<br>
<br>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script>
// check_list = []
function check_action(count){
    var checkBox = document.getElementById("check_btn"+count);
    if (checkBox.checked == true){
        check_list.push(count)
    } else {
       var index = check_list.indexOf(count);
       if (index > -1) {
            check_list.splice(index, 1);
        }
    }
}
</script>

<script>
$(".next_page_action").click(function(){
    var url =$(this).attr('data-url')
    $.ajax({
        url: url,
        data:{
            'check_list[]':check_list
        },
    success: function (data) {
        $("#append_datas_property").empty().append(data);
    }
})
})
</script>
<script>
$('.check-all').on('click', function () {
    if( $('.check-all').is(':checked') ) {
        $('.selectIcon').show();
    }
    else {
        $('.selectIcon').hide();
    }
})
</script>

<script>
$('.messageCheckbox').on('click', function () {
if( $('.messageCheckbox').is(':checked') ) {
        $('.selectIcon').show();
    }
    else {
        $('.selectIcon').hide();
    }
   })
</script>

<script>
function Export() {  
    url=check_list
    window.location.href = "/export_excel/?selected_data="+url 
}
</script>


<script>
    group_by_id =[]
    function groupby_functn(status){
        check_list = []
        document.getElementById("customcheckbox").checked = false;
        if (status == "Sold") {
            groupfunctn = document.getElementById("radio1");
            if (groupfunctn.checked == true){
                group_by_id.push(2)
                filter_status.push(2)
            }
            else{
                var index = group_by_id.indexOf(2);
                if (index > -1) {
                group_by_id.splice(index, 1);
                }
                var index1 = filter_status.indexOf(2);
                if (index1 > -1) {
                filter_status.splice(index1, 1);
                }
            }
        }
        else if (status == "Price") {
           
            groupfunctn = document.getElementById("radio2");
            if (groupfunctn.checked == true){
                group_by_id.push(1)
                filter_status.push(1)
            }
            else{
                var index = group_by_id.indexOf(1);
                if (index > -1) {
                    group_by_id.splice(index, 1);
                }
                var index1 = filter_status.indexOf(1);
                if (index1 > -1) {
                filter_status.splice(index1, 1);
                }
        }
        }
        else if (status == "Available") {
            groupfunctn = document.getElementById("radio3");
            if (groupfunctn.checked == true){
                group_by_id.push(0)
                filter_status.push(0)
            }
            else{
                var index = group_by_id.indexOf(0);
                if (index > -1) {
                    group_by_id.splice(index, 1);
                }
                var index1 = filter_status.indexOf(0);
                if (index1 > -1) {
                filter_status.splice(index1, 1);
                }
        } 
        }
        else if (status == "Cancelled") {
            groupfunctn = document.getElementById("radio4");
            if (groupfunctn.checked == true){
                group_by_id.push(3)
                filter_status.push(3)
            }
            else{
                var index = group_by_id.indexOf(3);
                if (index > -1) {
                    group_by_id.splice(index, 1);
                }
                var index1 = filter_status.indexOf(3);
                if (index1 > -1) {
                filter_status.splice(index1, 1);
                }
        }
        }        
        redirect_url = "property_groupby_action"
        $.ajax({
            url : redirect_url,
            data :{
                'data_value[]':group_by_id,
            },
            type:'GET',
            success: function (data) {
               $(".append_groupby_result").empty().append(data)
               var card_view_redirect_url = 'property_card_view_filter_status'
                    $.ajax({
                url: card_view_redirect_url,
                data:{
                    'data_value[]':group_by_id
                },
                success: function (data) {
                    $(".card_view1").empty().append(data);
                }
            })
                }
            })
    }
</script>


<script>
    function  group_by_status(status){
     if (status.checked) {
     redirect_url = "property_groupby_status"
         $.ajax({
                 url: redirect_url,
             success: function (data) {
                 $(".append_pro1").show()
                 $(".append_pro2").hide()
                 $(".append_pro1").empty().append(data);
                 redirect_url = "append_card_view"
             $.ajax({
                 url: redirect_url,
                 success: function (data) {
                 $(".card_view1").empty().append(data);
                 }
                 }) 
             }
         })
     }
     else {
     $(".append_pro1").hide()
     $(".append_pro2").show()
     }
 }
 </script>

