{% extends "super_admin/base.html" %}

{% load static %}
{% block content %}

    {% csrf_token %}
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-12 px-0">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                    <!-- <h4 class="mb-sm-0">Payroll</h4> -->

                    <div class="page-title-left">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Activity</a>
                            </li>
                            <li class="breadcrumb-item active"><a href="javascript: void(0);">Booking More Details</a>
                            </li>

                        </ol>
                        <div class="margn">

                            {% if data.booking_status == 3   %}
                            <a href="#"  onclick="available_button_action()"><button style="padding: 5px 10px !important;background-color: #008000;
                                color: white;
                                border: none;" type="button"
                                class="btn btn-pri pay discard-payroll"> Reset to Available
                            </button></a>

                            {% else %}
                           
                            {% if data.booking_status == 2 %}
                           
                            {% else %}

                            <a href="#" onclick="sold_button_action()">
                                <button  style="padding: 5px 10px !important;"
                                        class="btn btn-prim pay">
                                        Sold
                                    </button>
                                </a>

                                {% endif %}
                            <a href="#"  onclick="cancel_button_action()"><button style="padding: 5px 10px !important;" type="button"
                                    class="btn btn-pri pay discard-payroll"> Cancel
                                </button></a>

                                {% endif %}


                        </div>


                    </div>
                    <a href="#!"><button style="padding: 5px 10px !important;border: none; {% if data.booking_status == 1 %} color: #fff;
                            background-color: orange; {% elif data.booking_status == 2   %}     color: #fff;
    background-color: #e40000;  {% elif data.booking_status == 3   %}     color: #fff;
    background-color: gray; {% endif %}" type="button" class="btn btn-pri pay discard-payroll">


                            {% if data.booking_status == 1 %}
                            Price Quotation

                            {% elif data.booking_status == 0  %}
                            Available

                            {% elif data.booking_status == 2  %}
                            Sold

                            {% elif data.booking_status == 3  %}
                            Cancelled
                            {% else %}

                            {% endif %}
                        </button></a>
                </div>
            </div>
        </div>
        <div class="row pay-main">


            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 br-right d-flex align-items-center">
                        <h6>Name</h6>
                    </div>
                    <div class="col-md-4">
                        <input style="background: #8080802e;" readonly name="name" value="{{data.name}}" required
                            type="text" class="form-control">

                    </div>
                    <div class="col-md-2 br-right d-flex align-items-center">
                        <h6>User Type </h6>
                    </div>
                    <div class="col-md-4">
                        <input readonly type="radio" {% if data.user_id.user_type == "manager" %} checked {% endif %}
                            name="user_type" value="manager"> &nbsp;Manager
                        &nbsp;&nbsp;<input readonly {% if data.user_id.user_type == "salesman" %} checked {% endif %}
                            name="user_type" type="radio" value="salesman">&nbsp; Salesman
                    </div>

                </div>
                <div class="row mt-2">

                    <div class="col-md-2 br-right d-flex align-items-center">
                        <h6>Phone No</h6>
                    </div>
                    <div class="col-md-4">
                        <input style="background: #8080802e;" name="phone" value="{{data.phone}}" readonly required
                            type="number" class="form-control">

                    </div>
                    <div class="col-md-2 br-right d-flex align-items-center">
                        <h6>Mobile </h6>
                    </div>
                    <div class="col-md-4">
                        <input style="background: #8080802e;" name="mobile" required type="number" readonly
                            value="{{data.user_id.mobile}}" class="form-control" id="basiInput">
                    </div>

                </div>
                <div class="row mt-2">

                    <div class="col-md-2 br-right d-flex align-items-center">
                        <h6>Email</h6>
                    </div>
                    <div class="col-md-4">
                        <input style="background: #8080802e;" name="email" required readonly
                            value="{{data.user_id.email}}" type="email" class="form-control" id="basiInput">
                    </div>
                    <div class="col-md-2 br-right d-flex align-items-center">
                        <h6>Emp ID</h6>
                    </div>
                    <div class="col-md-4">
                        <input style="background: #8080802e;" name="empid" readonly value="{{data.user_id.email}}"
                            type="text" class="form-control" id="basiInput">
                    </div>

                </div>
                <div class="row mt-2">


                    <div class="col-md-2 br-right d-flex align-items-center">
                        <h6>Property No</h6>
                    </div>
                    <div class="col-md-4">
                        <input style="color: red !important;
                                font-weight: bold;background: #8080802e;" name="empid" readonly
                            value="{{data.property_mapping_id.BlockNo}}{{data.property_mapping_id.UnitNo}}" type="text"
                            class="form-control" id="basiInput">
                    </div>
                    <div class="col-md-2 br-right d-flex align-items-center">
                        <h6>Bank</h6>
                    </div>
                    <div class="col-md-4">
                        <input style="background: #8080802e;" name="empid" readonly value="{{data.bank}}" type="text"
                            class="form-control" id="basiInput">
                    </div>



                </div>

                <div class="row mt-2">


                    <div class="col-md-2 br-right d-flex align-items-center">
                        <h6>ID</h6>
                    </div>
                    <div class="col-md-4">
                        <input style="background: #8080802e;" name="empid" readonly value="{{data.booking_id}}"
                            type="text" class="form-control" id="basiInput">
                    </div>



                </div>


            </div>
        </div>
    </div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<script>
    $(document).ready(function () {
        $('.select2').select2({
            closeOnSelect: false
        });
    });

    function visible_manager(data) {
        if (data == "manager") {
            var x = document.getElementById('manager_select_div').style.display = "none";
        } else {
            var x = document.getElementById('manager_select_div').style.display = "block";
        }

    }
</script>

<script>
    function password_select_function(data) {
        if (data == "manual") {
            var y = document.getElementById('manual_password_field').style.display = "block"

        } else {
            var y = document.getElementById('manual_password_field').style.display = "none"
        }
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
<script>
 {% for message in messages %}
    Swal.fire(
        '',
        '{{ message }}',
        '{{message.tags}}'
    )
 {% endfor %}
</script>
{% endif %}




<script>
    function sold_button_action() {
        let text = "Approval Confirmation?";
        if (confirm(text) == true) {
           
           
            location.href = 'approve_booking_action?id='+`{{data.id}}`+'';
            
        } else {
          
        }
    }

    function cancel_button_action(){

        let text = "Cancel Confirmation?";
        if (confirm(text) == true) {
           
           
            location.href = 'cancel_booking_action?id='+`{{data.id}}`+'';
            
        } else {
          
        }
        
    }

    function available_button_action(){

        let text = "Reset to Available Confirmation?";
        if (confirm(text) == true) {
           
           
            location.href = 'rest_to_available_booking_action?id='+`{{data.id}}`+'';
            
        } else {
          
        }

    }
</script>
{% endblock %}