<div class="col-md-12">
    <h3 style="    font-size: 15px;">manager ({{data_total_manager|length}})</h3>
    {% for i in data_total_manager %}
    <div class='project-column mt-1'>
        <a href="user_edit?id={{i.id}}" style="text-decoration: none;color: black">
        <div class="customer-bx">
            <div class="cust-img" style="background-image: url('../media/{{i.atatchment}}');">

                        </div>
            <div class="customer-content">
                <h5>{{i.name}}</h5>
                <span class="d-flex"><h6>Phone : </h6> {{i.phone}}</span>
                <span class="d-flex"><h6>Email : </h6> {{i.email}}</span>
                <span class="d-flex"><h6>Mobile : </h6> {{i.mobile}}</span>
                <span class="d-flex"><h6>Created at : </h6> {{i.dt}}</span>
                {% if i.user_type == "salesman" %}
                    <span class="badge badge-success text-uppercase">{{i.user_type}}</span>
                {% else %}
                    <span class="badge badge-info text-uppercase">{{i.user_type}}</span>
                {% endif %}
            </div>
        </div>
    </a>
    </div>
    {% endfor %}
 
</div>
<div class="col-md-12">
    <h3 style="    font-size: 15px;">salesman ({{data_total_salesman|length}})</h3>
    {% for i in data_total_salesman %}
    <div class='project-column mt-1'>
        <a href="user_edit?id={{i.id}}" style="text-decoration: none;color: black">
        <div class="customer-bx">
            <div class="cust-img" style="background-image: url('../media/{{i.atatchment}}');">

                        </div>
            <div class="customer-content">
                <h5>{{i.name}}</h5>
                <span class="d-flex"><h6>Phone : </h6> {{i.phone}}</span>
                <span class="d-flex"><h6>Email : </h6> {{i.email}}</span>
                <span class="d-flex"><h6>Mobile : </h6> {{i.mobile}}</span>
                <span class="d-flex"><h6>Created at : </h6> {{i.dt}}</span>
                {% if i.user_type == "salesman" %}
                    <span class="badge badge-success text-uppercase">{{i.user_type}}</span>
                {% else %}
                    <span class="badge badge-info text-uppercase">{{i.user_type}}</span>
                {% endif %}
            </div>
        </div>
    </a>
    </div>
    {% endfor %}
</div>
