<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <div class="panel-body">
            <table class="table table-condensed table-striped">
                <thead>
                    <!-- <tr>a
					<th></th>
          <th>Fist Name</th>
          <th>Last Name</th>
          <th>City</th>
          <th>State</th>
          <th>Status</th>
        </tr> -->

                </thead>

                <tbody>

                    {% for i in data %}
                    <tr data-toggle="collapse" data-target="#demo1{{forloop.counter}}" class="accordion-toggle" onclick="datas('{{i.id}}')">
                        <td><button class="btn btn-default btn-xs" ><i class="fa fa-arrow-down"
                                    aria-hidden="true"></i>&nbsp;&nbsp;{{i.name}} ({{i.user_request_plot_customer_id.all.count}})</button>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                    </tr>


                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="demo1{{forloop.counter}}">
                                <table class="table table-striped">
                                    <thead>
                                        <tr class="info">
                                            <th class="sort"
                                            data-sort="customer_name">
                                            Name</th>
                                        <th>ID</th>
                                        
                                        
                                        <th class="sort" data-sort="date">Phone</th>
                                        <th class="sort" data-sort="date">Unit No</th>
                                        <!-- <th class="sort" data-sort="amount">Amount</th>
                                                    <th class="sort" data-sort="payment">Payment Method</th> -->
        
                                        <th class="sort" data-sort="company">
                                            Block No
                                        </th>
                                        <th class="sort" data-sort="company">
                                            Unit Area
                                        </th>
                                        <th class="sort" data-sort="company">
                                            Land Area
                                        </th>
                                        <th class="sort" data-sort="company">
                                            U Type
                                        </th>
                                        
                                        <th class="sort" data-sort="company">
                                           Price currency
                                        </th>
                                        <th>
                                            Bank
                                        </th>
                                        <th class="sort" data-sort="status">
                                            Status(Ar)</th>
                                        <th class="sort" data-sort="status">
                                            Status(En)</th>
                                            
                                        </tr>
                                    </thead>

                                    <tbody class="">
                                        {% for j in i.user_request_plot_customer_id.all %}
                                        <tr {% if j.available_status == 1 %} onclick="window.location='property_update?id={{j.property_mapping_id.id}}'" {% else %} onclick="window.location='property_more_details_page?id={{j.id}}'" {% endif %}>
                                            <td class="id"><a {% if j.available_status == 1 %} onclick="window.location='property_update?id={{j.property_mapping_id.id}}'" {% else %} onclick="window.location='property_more_details_page?id={{j.id}}'" {% endif %}
                                                    class="fw-medium link-primary">{{j.name}}
                                                
                                                
                                              
                                                </a>
                                            </td>

                                            <td class="customer_name">{{j.customer_id.customer_id}}
                                            </td>

                                            <td class="status">{{j.phone}}
                                            </td>
                                            <td class="product_name">{{j.property_mapping_id.UnitNo}}</td>

                                            <td class="status">{{j.property_mapping_id.BlockNo}}</td>

                                            <td class="status">{{j.property_mapping_id.UnitArea}}
                                            </td>   
                                            <td class="status">{{j.property_mapping_id.LandArea}}
                                            </td>   
                                            <td class="status">{{j.property_mapping_id.UType}}
                                            </td>   
                                            <td class="status">{{j.property_mapping_id.Price_currency}}
                                            </td>   
                                            <td class="status">{{j.property_mapping_id.Bank}}
                                            </td>
                                            <td class="status">{{j.property_mapping_id.Status}}
                                            </td>

                                            <td class="status">
                                                {% if j.property_mapping_id.current_status == "0" %}
                                               
                                                <span
                                                    class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                                    background-color: #008000;">Available</span>
            
                                                {% elif j.property_mapping_id.current_status == "1" %}
                                                <span
                                                class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                                    background-color: orange;">Price Quotation</span>
            
                                                {% elif j.property_mapping_id.current_status == "2" %}
                                                <span
                                                class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                                        background-color: #e40000;">Sold</span>
                                                        {% elif j.property_mapping_id.current_status == "3" %}
                                                        <span
                                                        class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                                                background-color: gray;">Cancelled</span>
                                                    {% else %}
                                                    {% endif %}
                                            </td>

                                        </tr>
                                        {% endfor %}


                                    </tbody>
                                </table>

                            </div>
                        </td>
                    </tr>


                    
                    {% endfor %}


                    




                </tbody>
            </table>
        </div>

    </div>

</div>



