
{% extends "super_admin/plot_base.html" %}
{% block content %}


<div class="container-fluid mt-4">
<div class="tab-content">
    <div class="tab-pane active" id="home1" role="tabpanel">

        <div
            class="d-flex align-items-center justify-content-between px-2">
            <div class="col-md-4 px-0">
               

                    <button type="button" onclick="Export()" style="display:none;"
                    class="btn btn-ghost-sec btn-icon btn-sm fs-16 allicns selectIcon"
                    data-toggle="tooltip" data-bs-trigger="hover"
                    data-bs-placement="top" title=""
                    data-bs-original-title="Export">
                    <i class="fas fa-download"></i>
                    </button>
            </div>


            <div class="d-flex align-items-center">
               
                    
                <!-- <input type="text" class="form-cont ml-2"
                    placeholder="Search..." autocomplete="off"
                    id="search-options" value=""> -->


<!-- 
                <div class="btn-group fitr">
                    <button type="button" class="btn btn-prim"> <i
                            class="fas fa-filter"></i>
                        Filters
                    </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Draft</a>
                        <a class="dropdown-item" href="#">Waiting</a>
                        <a class="dropdown-item" href="#">Done</a>
                        <a class="dropdown-item" href="#">Rejected</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Add Custom
                            Filter</a>
                    </div>
                </div>
                <div class="btn-group grpby">
                    <button type="button" class="btn btn-prim mx-1"> <i
                            class="fas fa-bars"></i>
                        Group By
                    </button>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Employees</a>
                        <a class="dropdown-item" href="#">PaySlip
                            Batch</a>
                        <a class="dropdown-item" href="#">Companies</a>
                        <a class="dropdown-item" href="#">States</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Add Custom
                            Group</a>
                    </div>
                </div> -->
                <ul class="nav nav-tabs nav-ta" role="tablist">
                    <li class="nav-item mx-1">
                        <a class="nav-link kan-tab active"
                            data-toggle="tab" href="#ho" role="tab"
                            aria-selected="false">
                            <i class="fas fa-list"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link kan-tab" 
                            href="plot" role="tab"
                            aria-selected="false">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </li>

                </ul>

            </div>


        </div>

        <input type="hidden" id="pagination_count" name="">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="ho" role="tabpanel">
                <div class="table-responsive mb-1  mt-2">
                    <table class="table table-nowrap align-middle"
                        id="orderTable">
                        <thead class="table-light">
                            <tr class="text-uppercase">
                                <th scope="col" style="width: 25px;">

                                    <div class="checkall">
                                        <input class="form-check-input checkField check-all"
                                            type="checkbox" onclick="check()"
                                            data-checkall-trigger="group1">
                                    </div>
                                   
                                </th>
                                <th class="sort"
                                    data-sort="customer_name">
                                    Name</th>
                                
                                <th class="sort" data-sort="date">Phone</th>
                                <th class="sort" data-sort="date">Unit No</th>
                                <!-- <th class="sort" data-sort="amount">Amount</th>
                                            <th class="sort" data-sort="payment">Payment Method</th> -->

                                <th class="sort" data-sort="company">
                                    Block No
                                </th>
                                <th class="sort" data-sort="company">
                                    Unit Area
                                </th>
                                <th class="sort" data-sort="company">
                                    Land Area
                                </th>
                                <th class="sort" data-sort="company">
                                    U Type
                                </th>
                                
                                <th class="sort" data-sort="company">
                                   Price
                                </th>
                                <th class="sort" data-sort="status">
                                    Status</th>
                                    
                                <!-- <th class="sort" data-sort="action">Action</th> -->
                            </tr>
                        </thead>
               
                                <tbody class="list form-check-all append_search_result">
                                    {% for i in page_obj.object_list %}
                                        <tr>
                                            <th scope="row">
                                                <input
                                                    class="form-check-input checkField messageCheckbox"
                                                    type="checkbox" value="{{i.id}}"
                                                    data-checkall-group="group1"
                                                    onclick="check_action(`{{i.id}}`)" id="check_btn{{i.id}}">
                                            </th>
                               
                                <td class="id"><a href="#"
                                        class="fw-medium link-primary">
                                        
                                        {% if i.Name == None %}

                                        {% else %}
                                        {{i.Name}}

                                        {% endif %}
                                    
                                    </a>
                                </td>
                                <td class="customer_name">
                                    {% if i.Phoneno == None %}
                                    {% else %}
                                    {{i.Phoneno}}
                                    {% endif %}
                                </td>
                                <td class="product_name">{{i.UnitNo}}</td>
                                <td class="date">{{i.BlockNo}}</td>
                                <td class="date">{{i.UnitArea}}</td>
                                <td class="company">{{i.LandArea}}</td>
                                <td>
                                    {% if i.UType == None %}
                                    {% else %}
                                    {{i.UType}}
                                    {% endif %}
                                </td>
                                <td>
                                    {{i.Price}}
                                </td>
                                <td class="status">
                                    {% if i.current_status == "0" %}
                                    
                                    <span
                                        class="badge badge-soft-success text-uppercase" style="    color: #fff;
                                        background-color: #008000;">Available</span>

{% elif i.current_status == "1" %}
<span
class="badge badge-soft-success text-uppercase" style="    color: #fff;
    background-color: orange;">Price Quotation</span>


    
{% elif i.current_status == "2" %}
<span
class="badge badge-soft-success text-uppercase" style="    color: #fff;
        background-color: #e40000;">Sold</span>
        {% elif i.current_status == "3" %}
        <span
        class="badge badge-soft-success text-uppercase" style="    color: #fff;
                   background-color: gray;">Cancelled</span>
                                        {% else %}

                                        {% endif %}
                                </td>
                               

                            </tr>

                            {% endfor %}
                        
                        
                        </tbody>
                    </table>
                   
                </div>
            </div>
            
        </div>
        <br>
        <br>
    </div>

</div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- delete check box  -->
<script>
    $('.check-all').on('click', function () {
        if( $('.check-all').is(':checked') ) {
            $('.selectIcon').show();
        }
        else {
            $('.selectIcon').hide();
        }
    })
</script>

<script>
    $('.messageCheckbox').on('click', function () {
    if( $('.messageCheckbox').is(':checked') ) {
            $('.selectIcon').show();
        }
        else {
            $('.selectIcon').hide();
        }
       })
</script>







<script>
    check_list = []
pagination_count = 1
    $(".pagination_add").click(function () {
        pagination_count = pagination_count + 1
        $("#pagination_count").val(pagination_count)

        var url = "property_management";
        $.ajax({
            url: url,
            data: {
                'pagination_count': pagination_count
            },
        });
    })

    $(".pagination_minus").click(function () {
        pagination_count = pagination_count - 1
        $("#pagination_count").val(pagination_count)

        var url = "property_management";
        $.ajax({
            url: url,
            data: {
                'pagination_count': pagination_count
            },
        });
    })
    </script>



<script>
   
    function check_action(count){
        var checkBox = document.getElementById("check_btn"+count);
        if (checkBox.checked == true){
            check_list.push(count)
        } else {
           var index = check_list.indexOf(count);
           if (index > -1) {
                check_list.splice(index, 1);
            }
        }
    }
</script>

<script>
    $(".next_page_action").click(function(){
        alert("ll")
        var url =$(this).attr('data-url')
        alert(url)
        
        $.ajax({
            url: url,
            data:{

                'check_list[]':check_list
            },
        success: function (data) {
            alert(data)
            $("#append_datas_property").empty().append(data);
        }
    })
    })
</script>


<script>
    function check() {
    
        // Get all triggers
        const checkAll = document.querySelectorAll('[data-checkall-trigger]');

        // Check / Uncheck all matching checkboxes
        function toggleCheckboxGroup(checked, checkboxGroup) {
            let matchingCheckboxes = document.querySelectorAll('[data-checkall-group="' + checkboxGroup + '"]');
            var inputElements = document.getElementsByClassName('messageCheckbox');
            for(var i=0; i<inputElements.length; i++){
                checkedValue = inputElements[i].value;
                check_list.push(checkedValue)
            }
           
            matchingCheckboxes.forEach(function (el) {
                if (checked !== el.checked) {
                    el.checked = !el.checked;
                }
            });
        };

        // Get all checkboxes of a group
        checkAll.forEach(function (el) {
            el.addEventListener('change', function () {
                let checkboxGroup = el.dataset.checkallTrigger;
                let checked = el.checked ? true : false;
                toggleCheckboxGroup(checked, checkboxGroup);
            });
        });
    };
    
</script>





<script>

function Export() {
   
    url=check_list
   
    window.location.href = "/export_excel/?selected_data="+url 
}
</script>

{% endblock %}
