{% extends "super_admin/base.html" %}
{% block content %}
{% load static %}
<style>
  body{
  padding: 2rem 0rem;
}
.avatar {
  border: 0.3rem solid rgba(#fff, 0.3);
  margin-top: -6rem;
  margin-bottom: 1rem;
  max-width: 9rem;
}

.fa-eye{
  position: absolute;
  top: 59%;
  right: 4%;
  cursor: pointer;
}
.chang-pass .form-lbl{
min-width: 100px
}

.chang-pass{
margin: 0 auto;
}

.chang-pass h6{
margin:10px 0;
}

</style>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
        {% if user_data %}
      <div class="card mt-5">
<!--        <img class="card-img-top" src="{% static 'admin/img/Purple-guestroom-wall-colour.png' %}" alt="Bologna">-->
        <div class="card-body text-center chang-pass">
          {% if user_data.atatchment == "" %}
          <img class="avatar rounded-circle" src="{% static 'adminicon.jpg' %}" alt="Bologna">
         {% else %}
         <img class="avatar rounded-circle" src="../media/{{user_data.atatchment}}" alt="Bologna">
         {% endif %}
          <h4 class="card-title">{{user_data.name}}</h4>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
           <div class="d-flex">
            <h6 class="form-lbl">phone</h6><h6>: {{user_data.phone}}</h6>
           </div>
          <div class="d-flex">
            <h6 class="form-lbl">email</h6><h6>: {{user_data.email}}</h6>
           </div>
        <div class="d-flex">
            <h6 class="form-lbl">mobile</h6><h6>: {{user_data.mobile}}</h6>
        </div>
        <div class="d-flex">
            <h6 class="form-lbl">emp_id</h6><h6>: {{user_data.emp_id}}</h6>
        </div>
        <div class="d-flex">
            <h6 class="form-lbl">user_type</h6><h6>: {{user_data.user_type}}</h6>
        </div>
        <div class="d-flex">
            <h6 class="form-lbl">created_by</h6><h6>: {{user_data.created_by}}</h6>
        </div>
          <a href="#" class="btn btn-outline-info" onclick="change_password()">Change Password</a>
        </div>
        <div class="card-body text-center">
          <form action="change_password" method="post" style="display: none" id="prop1">
              {% csrf_token %}
              <input type="hidden" value="{{user_data.email}}" name="username">
              <div class="col-sm-12">
                <label for="pwd1">Password:</label>
                <input class="form-control" type="password" id="pwd1" name="pwd1" pattern="(?=.*\W+)(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain a special character with at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                <i class="far fa-eye" id="togglePassword"></i>
              </div>
              <div class="col-sm-12">
                <label for="pwd2">Re-enter Password:</label>
                <input class="form-control" type="text" id="pwd2" name="pwd2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                <span id='message'></span>
              </div>
              <div>
                <button class="btn btn-outline-succes" type="submit">Submit</button>
              </div>
          </form>
       </div>
      </div>
    </div>
      {% else %}

      <div class="card mt-5">
<!--        <img class="card-img-top" src="{% static 'admin/img/Purple-guestroom-wall-colour.png' %}" alt="Bologna">-->
        <div class="card-body text-center">
          <img class="avatar rounded-circle" src="{% static 'adminicon.jpg' %}" alt="Bologna">
          <h4 class="card-title">{{request.user}}</h4>
          <h6 class="card-subtitle mb-2 text-muted"></h6>


          <a href="#" class="btn btn-outline-info" onclick="change_password()">Change Password</a>
        </div>
        <div class="card-body text-center">
          <form action="change_password" method="post" style="display: none" id="prop1">
              {% csrf_token %}
              <input type="hidden" value="{{user_data.email}}" name="username">
              <div class="col-sm-12">
                <label for="pwd1">Password:</label>
                <input class="form-control" type="password" id="pwd1" name="pwd1" pattern="(?=.*\W+)(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain a special character with at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                <i class="far fa-eye" id="togglePassword"></i>
              </div>
              <div class="col-sm-12">
                <label for="pwd2">Re-enter Password:</label>
                <input class="form-control" type="text" id="pwd2" name="pwd2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                <span id='message'></span>
              </div>
              <div>
                <button class="btn btn-outline-succes" type="submit">Submit</button>
              </div>
          </form>
       </div>
      </div>
    </div>





      {% endif %}
  </div>
</div>




<script>
    function change_password(){
        var x = document.getElementById('prop1').style.display = "block";
   }
</script>

<script>
    function on_submit(){
        event.preventDefault()
        x = document.getElementById('pwd1').value
        y = document.getElementById('pwd2').value
        if(x == y){
            document.forms["frmUser"].submit();
        }
        else{
            alert("Password Doesnot match")
        }
   }
</script>


<script>
    const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#pwd1');

  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
</script>

<script>
    $('#pwd1, #pwd2').on('keyup', function () {
  if ($('#pwd1').val() == $('#pwd2').val()) {
    $('#message').html('Matching').css('color', 'green');
  } else
    $('#message').html('Not Matching').css('color', 'red');
});
</script>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if messages %}
<script>
    {% for message in messages %}
        message1 = "{{message}}"
        if(message1 == "error"){
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: "{{ message }}",
            })
        }
        if(message1 == "warning"){
            Swal.fire({
            icon: 'warning',
            title: 'You cannot add users',
            text: "{{ message }}",
            })
        }
        else{
            Swal.fire(
                '',
                '{{ message }}',
                '{{message.tags}}'
            )
        }
    {% endfor %}
</script>
{% endif %}

{% endblock %}