{% extends "super_admin/base.html" %}
{% block content %}
{% load static %}


<div class="content">
    <div class="container-fluid px-0 customer-contact">


        <div class="row">
            <div class="col-12 px-0">
                <div class="page-title-box d-sm-flex align-items-center justify-content-between">


                    <div class="page-title-left w-100">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">User Management</a>
                            </li>
                            <li class="breadcrumb-item active"><a href="javascript: void(0);">View User</a></li>

                        </ol>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="margn">
                                <a><button type="button" class="btn btn-prim pay edit-cont-btn">
                                        Edit
                                    </button></a>
                                <a href="#!"><button type="button"
                                        class="btn btn-pri pay create-button create-cont-btn">
                                        Discard
                                    </button></a>
                            </div>
                            <div class="contact-pag d-flex align-items-center">
                                <!-- <i class="fas fa-caret-left mr-1 pagintn text-muted"
                                            aria-hidden="true"></i><span class="text-muted"> 1 0f
                                            10</span><i class="fas fa-caret-right ml-1 pagintn text-muted"
                                            aria-hidden="true"></i> -->


                                <!-- <button style="background-color: orange; " type="button"
                                    class="btn btn-pri pay discard-payroll noti-tag">Price Quotation
                                </button> -->
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 px-0">
                <div class="card noti-card" id="orderList">


                    <div class="card-body bb-0 pt-0 p-0">
                        <div>

                            <div class="payslip mb-5">

                                <div class="row pay-main mb-4">

                                    <div class="customer-head mb-4 col-md-12">
                                        <div class="propic">
                                            <div class="small-12 medium-2 large-2 columns">
                                                <div class="circle">
                                                    <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                                                    <div class="p-image">
                                                        <i class="fa fa-camera upload-button" aria-hidden="true"></i>
                                                        <input class="file-upload" type="file" accept="image/*">
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="cust-logo"
                                        style="background-image: url(img/users/avatar-1.jpg);"></div>

                                        <div class="cust-name row">
                                            <div class="col-md-1">
                                                <input type="radio" id="individual" value="individual"
                                                    name="catgry" checked> <label
                                                    for="Individual">Manager</label><br>
                                            </div>
                                            <div class="col">
                                                <input type="radio" id="company" value="company"
                                                    name="catgry" disabled><label
                                                    for="company">Salesman</label><br>
                                            </div>
                                            <div class="col-md-12">
                                                <h3 class="m-0">Name</h3>
                                            </div>

                                        </div>

                                    </div>
                                        
                                 
                                    <div class="col-md-6 cust-details p-0">
                                        <div class="row">
                                            <div class="col-md-3 br-right d-flex align-items-center">
                                                <h6>Phone</h6>
                                            </div>
                                            <div class="col-md-8 d-flex align-items-center">
                                                <div class="form-group  required_item w-100">
                                                    <input type="text" class="input form-control mt-2" disabled="" placeholder="9539040132">

                                                </div>

                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 br-right d-flex align-items-center">
                                                <h6>Mobile</h6>
                                            </div>
                                            <div class="col-md-8 d-flex align-items-center">
                                                <div class="form-group  required_item w-100">
                                                    <input type="text" class="input form-control mt-2" disabled="" placeholder="9539040132">

                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 br-right d-flex align-items-center">
                                                <h6>Password change confirmation </h6>
                                            </div>
                                            <div class="col-md-8 d-flex align-items-center">
                                                <div class="form-group  required_item w-100">
                                                    <div class="">
                                                        <input type="radio" name="plot_list_view"
                                                            value="no" checked="" id="passwrd">&nbsp;No &nbsp;
                                                            <input name="plot_list_view" type="radio" value="yes" disabled>&nbsp;Yes
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 br-right d-flex align-items-center">
                                                <h6>Property Access </h6>
                                            </div>
                                            <div class="col-md-8 d-flex align-items-center">
                                                <div class="form-group  required_item w-100">
                                                    <div class="">
                                                        <input type="radio" name="pro_access"
                                                            value="no" checked="" id="access">&nbsp;All access &nbsp;
                                                            <input name="pro_access" type="radio" value="yes" disabled>&nbsp;Plot based access
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 cust-details p-0">
                                        <div class="row">
                                            <div class="col-md-3 br-right d-flex align-items-center">
                                                <h6>Email</h6>
                                            </div>
                                            <div class="col-md-9 d-flex align-items-center">
                                                <div class="form-group  required_item w-100">
                                                    <input type="text" class="input form-control mt-2" disabled="" placeholder="manager@gmail.com">

                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 br-right d-flex align-items-center">
                                                <h6>Emp ID</h6>
                                            </div>
                                            <div class="col-md-9 d-flex align-items-center">
                                                <div class="form-group  required_item w-100">
                                                    <input type="text" class="input form-control mt-2" disabled="" placeholder="manager123">

                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-3 br-right d-flex align-items-center">
                                                <h6>Plot Listview </h6>
                                            </div>
                                            <div class="col-md-8 d-flex align-items-center">
                                                <div class="form-group  required_item w-100">
                                                    <div class="">
                                                        <input type="radio" name="plot_list"
                                                            value="no" disabled>&nbsp;No &nbsp;
                                                            <input name="plot_list" type="radio" checked="" id="plot_l" value="yes">&nbsp;Yes
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3 br-right d-flex align-items-center">
                                                <h6>Price Visibility </h6>
                                            </div>
                                            <div class="col-md-8 d-flex align-items-center">
                                                <div class="form-group  required_item w-100">
                                                    <div class="">
                                                        <input type="radio" name="price_vis"
                                                            value="no" disabled>&nbsp;No &nbsp;
                                                            <input name="price_vis" type="radio" checked="" id="price_v" value="yes">&nbsp;Yes
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="paytab">
                                    <ul class="nav nav-tabs nav-pay" role="tablist">
                                        <h5>Log</h5>
                                    </ul>
                                    <div class="tab-content text-muted">
                               
                                        <div class="tab-pane active show" role="tabpanel">
                                            <div class="row actvty">
                                                <h5>November 4, 2022</h5>
                                            </div>
                                            <div class="row msging schdul-box mt-1">
                                                <img src="img/users/avatar-9.jpg" alt="">
                                                <div class="col">
                                                    <h5>Administrator  <span> (Nov. 4, 2022)</span></h5>
                                                    <h6>Booking report approval done (Administrator)
                                                    </h6>
                                                    <h6><span>Price Quotation &gt; Approved</span></h6>
                                                </div>
                                               

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>




                    </div>
                </div>

        

            </div>

        </div>



    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
    $(document).ready(function () {


        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }


        $(".file-upload").on('change', function () {
            readURL(this);
        });

        $(".upload-button").on('click', function () {
            $(".file-upload").click();
        });
    });
</script>

{% endblock %}